/.classpath
/.project
/hivevol/
/datavol/
/warehousevol/
/metastorevol/
/analytics.log
/1GB/
/warehousevolBackup/
/warehousevolPseudo/
/metastorevolPseudo/
/mysqldbvol/
/dump_metastore.sql
/analyticsHive.log
/analyticsPresto.log
/output.txt
/ivyuservol/
/vols/
