/.classpath
/.project
/.metals
/.scala-build
/.vscode
/hivevol/
/datavol/
/warehousevol/
/metastorevol/
/analytics.log
/1GB/
/warehousevolBackup/
/warehousevolPseudo/
/metastorevolPseudo/
/mysqldbvol/
/dump_metastore.sql
/analyticsHive.log
/analyticsPresto.log
/output.txt
/ivyuservol/
/vols/
/clipboard.txt
/temp/
/out.txt
/bin/
/out1GB.txt
/out1TB.txt
/scala_apps/appends-test/project/
/scala_apps/appends-test/target/
/scala_apps/tpcds-power-test/project/project/
/scala_apps/tpcds-power-test/project/target/
/scala_apps/tpcds-power-test/target/
/scala_apps/.metals/
/scala_apps/.vscode/