/RESULTS/
/.~lock.summaryPower.xlsx#
/PowerTestTimeBarChart.pdf
/RESULTSold/
/RESULTSolder/
/RESULTSoldest/
/RESULTS_1000GB/
/RESULTS_PrestoJDBCvsCLI/
/RESULTS_1000GBcomplete/
/RESULTS_PrestoParquetVsORC/
/RESULTSreference/
/RESULTSdbrlight/
/RESULTSnocache/
/RESULTSstats/
/RESULTSbasicstats/
/RESULTS12streamspresto/
/RESULTS32streams/
/RESULTSdatabricksjdbc/
/RESULTSdatabrickslightprestoemr/
/RESULTSorcvsparquet/
/RESULTSdatabrickspreliminary/
/RESULTSemrprestohdfs/
/RESULTSimpalakit/
/RESULTSsparkemr/
/RESULTSsparkemr525/
/RESULTSsparkemr525optopsoff/
