/id_rsa
/id_rsa.pub
/pi_dataframe.txt
/screenshotPermissions.png
/id_rsa.txt
/schematool
/scratch.txt
/RESULTS_100GB/
/all.log
/RESULTS_1000GB/
/RESULTS_1000GBold/
/SimbaSparkJDBC-2.6.3.1003.zip
/SimbaSparkJDBC4-2.6.3.1003.zip
/SimbaSparkJDBC41-2.6.3.1003.zip
/SparkJDBC4.jar
/SparkJDBC41.jar
/docs/
/jdbcdriver/
/partition/
